body {
  background-color: rgb(253, 251, 251);
  margin: 90px;
  color: rgb(114, 31, 45);
}

#cabecalho {
  position: fixed;
  top: 0;
  color: rgb(114, 31, 45);
  font-size: 20px;
}

.links {
  color: rgb(114, 31, 45);
  text-decoration: none;
  font-size: 19px;
  border: 1px solid rgb(114, 31, 45);
  padding: 3px;
  background-color: rgb(253, 251, 251);
}

.links:hover {
  color: pink;
  border: 1px solid pink;
}

#navegacao , #secao , article , aside {
  padding-bottom: 20px;
}

#secao , article , aside {
  padding-top: 20px;
  size: 20px;
  font-family: sans-serif;
  letter-spacing: 0.5px;
  line-height: 30px;
}

#minha_foto {
  border: 5px solid pink;
  margin-bottom: 20px;
  width: 200px;
  border-radius: 50%;
}

table {
  letter-spacing: 2px;
}

.link {
  display: block;
  margin-bottom: 20px;
  padding-left: 30px;
  padding-bottom: 30px;
}

.lado-direito , .lado-esquerdo {
  display: inline-block;
  border: 2px solid pink;
  position: absolute;
  border-radius: 10px;
  text-align: center;
  padding: 20px;
}

.lado-esquerdo {
  margin-right: 900px;
}

.lado-direito {
  margin-left: 900px;
  margin-right: 90px;
}

.table {
  border-color: rgb(114, 31, 45);
}
